# Core libraries
numpy==1.25.0
pandas==2.1.0
opencv-python==4.8.0.74
matplotlib==3.8.0
scikit-learn==1.3.0
tqdm==4.66.1
Pillow==10.0.0

# Deep learning frameworks
torch
torchvision
onnx==1.15.0
onnxruntime==1.16.0

mediapipe==0.10.14

# GUI framework (dataset collection interface)
customtkinter>=5.2.0